<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDo...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


    <div class="container">
            <form action="/add_task" method="post">

                <div class="ui center aligned basic segment">
                    <div class="ui left icon action input">
                        <i class="icon pencil alternate"></i>
                        <input type="text" name="title" placeholder="Enter new task..." />
                        <button type="submit" class="ui basic teal button">
                            <i class="icon plus"></i>
                            Add Task
                        </button>
                    </div>
                    <h2 class="ui horizontal divider">
                        <i class="icon clipboard list"></i>
                        My ToDo List
                    </h2>

                    <table class="ui selectable table">
                        {% if total_tasks > 0 %}
                            <tbody>
                                {% for task in task_list %}
                                    <tr class="top aligned">
                                        <td>
                                            <b>{{ loop.index }}. {{ task.title }}</b>
                                            <br>
                                            <div class="ui steps">


                                                {% if task.status == 'Not started' %}
                                                    <div class="active step">
                                                        <div class="content">
                                                            <div class="ui pink label">{{ task.status }}</div>
                                                        </div>
                                                    </div>

                                                {% else %}
                                                    <div class="completed step">
                                                        <div class="content">
                                                            <div class="ui pink disabled label">Started</div>
                                                        </div>
                                                    </div>
                                                    {% if task.status == 'In progress' %}
                                                        <div class="active step">
                                                            <div class="content">
                                                                <div class="ui blue label">{{ task.status }}</div>
                                                            </div>
                                                        </div>

                                                    {% else %}
                                                        <div class="completed step">

                                                            <div class="content">
                                                                <div class="ui blue disabled label">In progress</div>
                                                            </div>
                                                        </div>
                                                        <div class="active step">
                                                            <div class="content">
                                                                <div class="ui teal label">{{ task.status }}</div>
                                                            </div>
                                                        </div>

                                                    {% endif %}

                                                {% endif %}
                                            </div>
                                        </td>

                                        <td class="right aligned">
                                            {% if task.status == 'Not started' %}
<!--                                                <button class="ui disabled button">Back</button>-->
                                            {% else %}
                                                <a href="/regress_task/{{ task.id }}">
                                                     <div class="ui animated basic violet button" tabindex="0">
                                                         <div class="visible content">Back</div>
                                                         <div class="hidden content">
                                                             <i class="icon left arrow"></i>
                                                         </div>
                                                    </div>
                                                </a>
                                            {% endif %}

                                            {% if task.status == 'Completed' %}
<!--                                                <button class="ui disabled button">Completed</button>-->
                                            {% else %}
                                                <a href="/progress_task/{{ task.id }}">
                                                     <div class="ui animated basic teal button" tabindex="0">
                                                         <div class="visible content">
                                                             {% if task.status == 'Not started' %}Start{% endif %}
                                                             {% if task.status == 'In progress' %}Finish{% endif %}
                                                         </div>
                                                         <div class="hidden content">
                                                             <i class="icon right arrow"></i>
                                                         </div>
                                                    </div>
                                                </a>
                                            {% endif %}

                                            <a href="/delete_task/{{ task.id }}">
                                                <div class="ui compact icon pink button" tabindex="0">
                                                    <i class="icon trash alternate outline"></i>
                                                </div>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="ui center aligned header">No tasks yet...</h3>
                    {% endif %}
                </div>
            </form>
        <div class="bot_div">



        </div>
    </div>
</body>
</html>